<h1>Flats</h1>

<% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
      <p class="card-text"><%= flat.description %></p>
      <p class="card-text">$<%= flat.price_per_night %> | <%= flat.guests %></p>
      <%= link_to "See more", flat_path(flat), class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
